server:
  port: 9001

spring:
  cloud:
    config:
      discovery:
        enabled: false
  application:
    name: intake-service
  h2:
    console:
      path: /h2-console
      enabled: true
      settings:
        web-allow-others: true
  datasource:

    # h2
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa

    # mysql
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://localhost:10000/sosik?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul
#    username: test1
#    password: ${mysql_password}

  data:
    redis:
      host: localhost
      port: 6379
      password:

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    defer-datasource-initialization: true
    generate-ddl: true
  config:
    import: "optional:configserver:"
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://127.0.0.1:8761/eureka

#jpa log
logging:
  level:
    org:
      hibernate:
        orm.jdbc.bind: trace # 3버전
        sql: debug
        type:
          descriptor.sql: trace # 2버전







